:root {
    --dark-background: #202225;
    --second-background: #2f3136;
    --main-background: #36393f;

    --main-color: #96989d;
    --second-color: #b9bbbe;
    --accent-color: #42464d;
    --white-color: #e3e3e3;
}

body {
    margin: 0px;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif !important;
}

.background {
    background-color: var(--main-background);
    height: 100%;
    width: 100%;
    padding-bottom: 50px;

    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}



.padding-tb-10 {
    padding: 10px 0px !important;
}
.margin-t-25 {
    margin-top: 25px !important;
}
.margin-b-15 {
    margin-bottom: 15px !important;
}
.margin-b-10 {
    margin-bottom: 10px !important;
}
.padding-15 {
    padding: 15px !important;
}

.use-pointer {
    cursor: pointer;
}


.sidebar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--second-background);
    overflow-x: hidden;
    padding: 20px;
    color: var(--main-color);
    font-size: 3rem;
    text-align: center;
}

.sidebar-icon {
    font-size: 50px;
    padding: 30px 15px;
    color: var(--main-color);
}
.sidebar-icon:hover {
    color: var(--white-color);
    transform: scale(1.1);
    transition: transform 150ms ease-in-out;
}

.sidebar-grid {
    display: grid;
}



.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.main {
    padding: 20px 10% 0px 10%;
    overflow-x: hidden;
    max-width: 700px;
    min-width: 700px;
}


.name {
    font-size: 4rem;
    font-weight: bold;
    background-image: linear-gradient( 90deg, #12c2e9 0%, #c471ed 50%, #f64f59 100% );
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.name.sub {
    font-size: 2rem;
}


.text-header {
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.text-subheader {
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: bold;
}

.text-body {
    color: var(--main-color);
    font-size: 1rem;
}

.link-label {
    width: 80px;
}

.section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 40px;
}

.section {
    background-color: var(--accent-color);
    color: var(--main-color);
    height: min-content;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
}
.section.project:hover {
    transform: scale(1.03);
    transition: transform 150ms ease-in-out;
    color: var(--white-color);
}


.project-img {
    width: 100%;
    border-radius: 10px;
}

.project-icon {
    z-index: 1;
    position: absolute;
    font-size: 50px;
}

.project-language-icon {
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 10px;
    font-size: 50px;
    color: var(--white-color);
    position: relative; top: 0px; right: 10px;
}

.project-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.project-body {
    font-size: 1rem;
}


.skill-icon {
    padding: 15px;
    font-size: 50px;
    color: var(--main-color);
}
.skill-icon:hover {
    color: var(--white-color);
    transform: scale(1.1);
    transition: transform 150ms ease-in-out;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.skill-header {
    padding: 10px 25px 0px 25px;
}

.link-grid {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    text-align: center;
    justify-content: space-between;
}

.link-icon {
    font-size: 50px;
    padding: 20px;
    color:var(--main-color);
    display: grid;
    row-gap: 10px;
}
.link-icon:hover {
    color: var(--white-color);
    transform: scale(1.1);
    transition: transform 150ms ease-in-out;
}

.link-label {
    font-size: 20px;
}

i[title]:hover:after {
    font-size: 15px;
    border-radius: 10px;
    content: attr(title);
    padding: 10px 10px;
    position: absolute;
    left: 50%;
    top: 75%;
    z-index: 1;
    background: var(--dark-background);
    font-family: "Roboto", sans-serif;
}